body {
    background: #eef;
	color: #000;
	font-weight: normal;
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
}

h2 {
	font-family: sans-serif;
	color: #c30000;
}

.boxleftyes {
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	left: 2px;
	top: 5px;
	font-weight: bold;
	background: #00ff00;
}


.boxrightyes {
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	left: 2px;
	top: 5px;
	background: #ff0000;
}

#bartop {
	width:600px;
	height:23px;
	overflow: auto;
	background: #000000;
	border: 1px solid #fff;
}

