body {
    background: #f9f9f9;
	color: #000;
	font-weight: normal;
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
}

h2 {
	font-family: sans-serif;
	color: #c30000;
}

.boxleftyes {
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	left: 2px;
	top: 5px;
	font-weight: bold;
	background: #f9009f;
}


.boxrightyes {
	float: left;
	width: 20px;
	height: 20px;
	position: relative;
	left: 2px;
	top: 5px;
	background: #f9f900;
}

#bartop {
	width:700px;
	height:23px;
	overflow: auto;
	background: #000000;
	border: 3px solid #fff;
}

#mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
}

.window {
	position:absolute;
	width:440px;
	height:200px;
	display:none;
	z-index:9999;
	padding:20px;
}

#modal-from-dom {
	width:375px;
	height:203px;
	background: #fff;
}


#boxes .window {
	position:absolute;width:440px;height:200px;display:none;z-index:9999;padding:20px;
}
	
#boxes #dialog {
	width:375px;height:203px;padding:10px;background-color:#ffffff;
}
	
#boxes #modal-from-dom {
	width:275px;height:203px;
}
	
#modal-from-dom .d-header {
	background:#fff;
	no-repeat 0 0 transparent;
	width:375px;
	height:150px;
}
	
#modal-from-dom .d-header input {
	position:relative;
	top:60px;left:100px;border:3px solid #cccccc;height:22px;width:200px;font-size:15px;padding:5px;margin-top:4px;
}

#modal-from-dom .d-blank {
	float:left;
	background:#fff;
	width:267px;
	height:53px;
}

#modal-from-dom .d-login {
	float:left;width:108px;height:53px;
}


div .tweetshow {
/*  display: none;*/
/*  visibility: hidden;*/
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
