body {
    background: #eef;
	color: #000;
	font-weight: normal;
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
}

h2 {
	font-family: sans-serif;
	color: #c30000;
}

#boxleft {

	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	top:5px;
	background: #ff0000;
	border: 1px solid #000;
}

#boxright {

	width: 300px;
	background: #0000ff;
	border: 1px solid #000;
}

